@{
    Page.Title = "RegisterIndex page";
}

@*<h1>Hello World! Register/RegisterIndex.cshtml</h1>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="container">
        <div class="login">
            <h1 class="login-heading">
                <strong>Registration</strong>
            </h1>
            <form method="post">
                <input type="text" name="user" placeholder="Username" required class="input-txt" />
                <input type="password" name="password" placeholder="Password" required class="input-txt" />
                <input type="password" placeholder="Password again" required class="input-txt" />
                <input type="email" placeholder="E-mail" required class="input-txt" />
                <input type="email" placeholder="E-mail again" required class="input-txt" />
                <div class="login-footer">
                    <button type="submit" class="btn">Registration</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
