@{
    Page.Title = "RegisterIndex page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @*<h1>Hello World! Register/RegisterIndex.cshtml</h1>*@

    <table style="width:100%" align="center">
        <tr>

            <td align="center">
                <div class="round">
                    <img src="~/Pictures/xy.jpg" />
                </div>
            </td>

        </tr>
        <tr>

            <td align="center">
                <p>
                    <b>Name:</b><br>
                    <input class="textbox" type="text" name="Name" value="">
                </p>
            </td>

        </tr>
        <tr>

            <td align="center">
                <b>Password:</b><br>
                <input class="textbox" type="password" name="Password" value="">
            </td>

        </tr>
        <tr>

            <td align="center">
                <input type="submit" value="Register">
            </td>

        </tr>
    </table>
</body>
</html>
