<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  
  <system.serviceModel>

    <services>
      <service behaviorConfiguration="MexBehaviour" name="AzureChatService.ChatService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding"
          name="wsDualEndpoint" bindingName="wsDualHttpBinding" contract="AzureChatService.IChat" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="mexHttpBinding"
          name="MexEndpoint" bindingName="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://techsupportchat.azurewebsites.net" />
          </baseAddresses>
          <timeouts openTimeout="00:10:00" />
        </host>
      </service>
    </services>
    <!--<bindings>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBinding" openTimeout="00:10:00" sendTimeout="00:10:00"
          clientBaseAddress="http://xxx.xxx.xxx.xxx:xxx">
          <security mode="None">
            <message clientCredentialType="None" negotiateServiceCredential="false" />
          </security>
        </binding>
      </wsDualHttpBinding>
      <mexHttpBinding>
        <binding name="mexHttpBinding" />
      </mexHttpBinding>
    </bindings>-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="MexBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBinding" openTimeout="00:10:00" sendTimeout="00:10:00"
          clientBaseAddress="http://techsupportchat.azurewebsites.net/">
          <security mode="None">
            <message clientCredentialType="None" negotiateServiceCredential="false" />
          </security>
        </binding>
      </wsDualHttpBinding>
      <mexHttpBinding>
        <binding name="mexHttpBinding" />
      </mexHttpBinding>
    </bindings>
    
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the value below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
