<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITechSupportService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://techsupportservice.azurewebsites.net/TechSupportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITechSupportService1"
                contract="TechSupportService.ITechSupportService1" name="BasicHttpBinding_ITechSupportService1" />
        </client>
    </system.serviceModel>
    <appSettings>
        <!-- NotificationHubs specific app setings for messaging connections -->
        <add key="Microsoft.Azure.NotificationHubs.ConnectionString"
            value="Endpoint=sb://[your namespace].notificationhubs.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]"/>
    </appSettings>
</configuration>
