<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <system.web>
    <httpRuntime maxRequestLength="200000" />
  </system.web>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITechSupportService1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITechSupportService1">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ITechSupportServiceSecure1">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://techsupportserver.azurewebsites.net/TechSupportService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITechSupportService1"
                contract="TechSupportService.ITechSupportService1" name="WSHttpBinding_ITechSupportService1" />
            <endpoint address="https://techsupportserver.azurewebsites.net/TechSupportServiceSecure.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITechSupportServiceSecure1"
                contract="TechSupportSecure.ITechSupportServiceSecure1" name="WSHttpBinding_ITechSupportServiceSecure1" />
        </client>
    </system.serviceModel>
    <appSettings>
        <!-- NotificationHubs specific app setings for messaging connections -->
        <add key="Microsoft.Azure.NotificationHubs.ConnectionString" value="Endpoint=sb://[your namespace].notificationhubs.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
         <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=techsupportfiles;AccountKey=KCwORC/TRScOYeRlgJO9Mf+IclJI2Xx8htSh4yquWsNgbl6cDnJ1iqvEVFaprQWylvDbyCgEnzQVN7xTXQTKAg==" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
