<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="wsDualEndpoint">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITechSupportService1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:36565/ChatService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="wsDualEndpoint" contract="Chatservice.IChat"
                name="wsDualEndpoint" />
            <endpoint address="https://techsupportservice.azurewebsites.net/TechSupportService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITechSupportService1"
                contract="TechSupportService.ITechSupportService1" name="WSHttpBinding_ITechSupportService1" />
        </client>
    </system.serviceModel>
    <appSettings>
        <!-- NotificationHubs specific app setings for messaging connections -->
        <add key="Microsoft.Azure.NotificationHubs.ConnectionString" value="Endpoint=sb://[your namespace].notificationhubs.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
         <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=techsupportfiles;AccountKey=KCwORC/TRScOYeRlgJO9Mf+IclJI2Xx8htSh4yquWsNgbl6cDnJ1iqvEVFaprQWylvDbyCgEnzQVN7xTXQTKAg==" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
