@{
    Page.Title = "Index page";
}

@*<h1>This is from Home/Index.cshtml</h1>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="container">
        <div class="login">
            <h1 class="login-heading">
                <strong>Welcome.</strong> Please login.
            </h1>
            <form method="post">
                <input type="text" name="user" placeholder="Username" class="input-txt" />
                <input type="password" name="password" placeholder="Password" class="input-txt" />
                <div class="login-footer">
                    <a href="#hovamenjen a link" class="lnk">
                        I forgot my password...
                    </a>
                    <button type="button" class="btn" onclick="location.href='@Url.Action("Index", "User")'">Sign in</button>
                    <button type="button" class="btn" onclick="location.href='@Url.Action("Index", "Register")'">Registration</button>                           
                </div>
            </form>
        </div>
    </div>
</body>
</html>
