@{
    Page.Title = "Index page";
}

@model WebApp.Models.HomeModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{

    <div class="container">
        <div class="login">
            <h1 class="login-heading">
                <strong>Welcome.</strong> Please login.
            </h1>
            <form method="post">
                @Html.TextBoxFor(m => m.Username, new { @class = "input-txt", placeholder = "Username", autocomplete = "off" })
                @*@Html.ValidationMessageFor(m => m.Username)*@
                @Html.PasswordFor(m => m.Password, new { @class = "input-txt", placeholder = "Password" })
                @*@Html.ValidationMessageFor(m => m.Password)*@
                <div class="login-footer">                  
                    <button type="button" class="btn" onclick="location.href='@Url.Action("Index", "Register")'">Registration</button>
                    <input type="submit" class="btn" value="Sign in" />               
                </div>
            
                <div class="lnkdiv">
                    <a href="#hovamenjen a link" class="lnk">
                        I forgot my password...
                    </a>
                </div>
            
            </form>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>
}
</body>
</html>
