<!DOCTYPE html>

<html>
<head>
    @RenderSection("head", false)
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>

    @RenderBody()

</body>
</html>
