<!DOCTYPE html>
<style> /*másik file-ba kell majd átpakolni*/
    .round {
        border-radius: 50%;
        border: 3px solid #00e0c6;
        overflow: hidden;
        width: 150px;
        height: 150px;
    }

    .round img {
        margin-left: -75px; /*kép pozicionáláshoz szükséges hogy középen legyen a körben*/
        margin-top: -10px; /*ezt a 2 értéket kéne változókkal viewmodellel összekapcsolni*/
    }

    b {
        color: #ffffff;
    }

    table {
        border-radius: 25px;
        background: #252525;
        padding: 20px;
        width: 200px;
        height: 250px; 
    }

  .textbox { 
    height: 25px; 
    width: 275px; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: white; 
    text-align: center;
    color: white;
    outline:0; 
  } 
 


</style>

<html>
<head>
    @RenderSection("head", false)

</head>
<body>

    @RenderBody()
    @*<h1>Hello World! _Main.cshtml</h1>*@

</body>
</html>
