
@{
    Page.Title = "Login page";
}

@model WebApp.Models.HomeModel

<h1>@Model.Username</h1>
<h1>@Model.Password</h1>





    @*<!DOCTYPE html>

        <h1>This is from User/Login.cshtml</h1>

        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Login</title>
        </head>
        <body>
            <div>
            </div>
        </body>
        </html>*@
