
@{
    Page.Title = "Login page";
}

@model WebApp.Models.UserModel

@*<h1>@Model.Username</h1>
<h1>@Model.Password</h1>*@


<!DOCTYPE html>
<html>
<head>
</head>
<body>

@using (Html.BeginForm("Send", "User", FormMethod.Post))
{
    <div style="text-align:center">
        <textarea style="width: 350px; height: 500px">@WebApp.Models.UserModel.ChatText</textarea>
        <br />
        @*<input type="hidden" name="name" value="@Model.Username" />*@
        <input type="text" name="message" />
        <br />
        <input type="submit" class="btn" value="Send" />
    </div>
}

</body>
</html>