@{
    Page.Title = "UserIndex page";
}

@*@model WebApp.Models.UserModel*@
<!DOCTYPE html>

<h1>This is from User/UserIndex.cshtml</h1>

<html>
<head>
    <meta charset="UTF-8">

</head>
<body>
    @*<h1>@Model.Username</h1>*@
</body>
</html>
